/* Reseting default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e4e1e1;
    color: #333;
    text-align: center;
}

/* Header */
header {
    background-color: #e8ecef;
    color: white;
    padding: 20px;
}

/* Nav */
nav {
    background-color: #0460bd;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* section */
section {
    background: white;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid #dddbdb;
    max-width: 700px;
}

/* Hobbies */
ul {
    list-style: square;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
}

/* Links */
a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #0259b0;
    color: white;
    padding: 10px;
    margin-top: 20px;
}